body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumbotron {
  background: light-blue;
  border-radius: 0!important;
  margin-top: -20px;
}

.search-form {
  height: 80px;
  font-size: 50px;
}
.search-button {
  height: 80px;
  width: 200px;
}
.btn {
  margin-left: 5px;
}
.sortBtn {
  margin-right: 20px;
}
.active {
  background-color: #0000FFF;
  padding: 18px 10px;
  color: white;
}